li {
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

.footer {
    height: 30px;
    position: fixed;
    bottom: 0;
}

.labels {
  background-color: PowderBlue;
  color: LightSlateGray;
  border: 1px;
  border-radius: 6px;
  margin-right: 1%;
  cursor: pointer;
  font-size: large;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background: lightblue; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: steelblue; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: blue; 
  }